<% provide :subject, "People" %>
<div class="row">
  <%= render 'shared/search' %>
  <div class="col-md-6 col-md-offset-3 row">
    <% if @people %>
      <%= render @people %>
    <% end %>
  </div>
</div>
