<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>

<h1>Update your profile</h1>

<div class="row">
  <%= gravatar_for @user %>
  <div class="gravatar_edit">
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>

  <%= render partial: 'layouts/user_form' %>
</div>