<% provide :subject, "Projects" %>
<div class="row">
  <%= render 'shared/search' %>
  <div class="searchResultList">
    <% if @projects %>
      <%= render @projects %>
    <% end %>
  </div>
</div>
