<div class="card cardCoursesSize">

  <div class="card-header">
    <%= link_to course.title, courses_path(id: course.tiss_id) %>
  </div>

  <% if course.respond_to?(:detail_url) && !course.detail_url.nil? %>
    <p class="card-text">Link: <%= link_to "Tiss", course.detail_url %></p>
  <% end %>

  <%= render 'shared/favorite', path: courses_favorite_path, favobj: course %>
  <%= link_to "Details", courses_path(id: course.tiss_id), class: "cardLinks" %>

</div>
