
#logo {
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    margin-right: 25px;
}

a#logo:hover {
    background-color: darkslategray;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999; /* always on top */
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body, header, footer {
    min-width: 256px;
}

body {
    padding-top: var(--test);
    margin: 0;
}

.main {
    text-align: center;
    flex: 1 0 auto;
    padding: 0 10px 0 10px;
}

footer {
    flex-shrink: 0;
}

footer div p {
    background-image: radial-gradient(rgb(215, 215, 215) 25%, rgba(235, 235, 235, 0.65), rgba(235, 235, 235, 0));
    text-align: center;
}

#searches {
    margin-top: 5em;
}

/* ##### main part ##### */
.mySubmit {
    /*background-color: #BBBBBB;*/
    background: linear-gradient(to right, #BBBBBB 34%, darkslategray 65%);
    background-size: 300% 100%;
    background-position: left bottom;
    transition: all 0.5s ease;

    color: black;
    font-weight: bold;
    text-decoration: none;
    min-width: 200px;
    padding: 0.5em 0 0.5em 0;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.33);
}

.mySubmit:hover {
    /*background-color: darkslategray;*/
    background-position: right bottom;
    transition: all 0.5s ease;

    cursor: pointer;
    color: white;
}


.header_ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: left;
}

li a, .dropbtn {
    background-color: darkslategray;
    transition: background-color 500ms ease;

    display: inline-block;
    color: white;
    text-align: center;
    padding: 16.5px; /* well ok */
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    transition: background-color 500ms ease;
    background-color: cornflowerblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {

}

.dropdown:hover .dropdown-content {
    display: block;
}


/* user edit page */

.gravatar_edit {
    padding-bottom: 35px;
}

.flexCont {
    margin: 2px 10px 2px 0;
}

#signLogCont {
    padding-top: 35px;
}


/* general search html */

#searchHeader {
    margin-bottom: 20px;
}

.searchResultList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    align-content: center;
}


/* cards for view in list */

/* card background color */
:root {
    --red: 255;
    --green: 255;
    --blue: 255;
}

.cardPeopleSize {
    width: 300px;
    height: 135px;
}

.cardCoursesSize {
    width: 400px;
    height: 165px;
}

.cardProjectsSize {
    width: 400px;
    height: 200px;
}

.cardThesesSize {
    width: 400px;
    height: 195px;
}

.card {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 5px;

    background-color: rgb(var(--red), var(--green), var(--blue));
    z-index: 10;
    position: relative;

    padding: 10px;
}

.card:hover {
    /*
    -webkit-box-shadow: 5px 5px 11px -3px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 5px 5px 11px -3px rgba(0, 0, 0, 0.69);
    box-shadow: 5px 5px 11px -3px rgba(0, 0, 0, 0.69);
    */
    -webkit-box-shadow: 0 4px 6px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 6px 2px rgba(0,0,0,0.2);
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.2);
}

/*
.cardCoursesSize .cardLinkCont, .cardProjectsSize .cardLinkCont, .cardThesesSize .cardLinkCont {
    bottom: 10px;
    position: absolute;
    left: 28%;
}

.cardPeopleSize .cardLinkCont {
    bottom: 10px;
    position: absolute;
    left: 22%;
}
*/

.cardLinkCont {
    padding-top: 10px;
}
.cardLinks {
    margin: 20px;

}

.card-header {
    overflow: hidden;
    z-index: 11;
}

.card-header h2 {
    margin: 0;
}

.card-text {
    margin: 0;
    padding: 10px;
}

.fade3 {
    position: relative;
    height: 5.6em; /* three lines */
}

.fade3:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.8em;
    background: linear-gradient(to right, rgba(var(--red), var(--green), var(--blue), 0), rgba(var(--red), var(--green), var(--blue), 1) 50%);
}

.fade2Big {
    position: relative;
    height: 3.6em; /* two lines */
}

.fade2Big:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.8em;
    background: linear-gradient(to right, rgba(var(--red), var(--green), var(--blue), 0), rgba(var(--red), var(--green), var(--blue), 1) 50%);
}

.fade2 {
    position: relative;
    overflow: hidden;
    height: 2.4em; /* two lines */
}

.fade2:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(var(--red), var(--green), var(--blue), 0), rgba(var(--red), var(--green), var(--blue), 1) 50%);
}


.formTextField {
    font-size: 1em;
    background-color: #F7F7F7;
}
.formLabel {
    padding: 4px;
}


/* person detail view */
.imgPerson {
    height: auto;
    min-width: 128px;
    max-width: 384px;
}

.flexRowPerson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}

.flexColPersonL {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flexColPersonR {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




/* alert - flash cards */

.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;


    min-height: 5%;
    max-height: 20%;

    border-radius: 15px; /* 10px 35px */

    margin: 5px 25% 5px 25%;
}

.alert-success {
    background: rgba(0, 168, 16, 0.420);
}

.alert-danger, .alert-error {
    background: rgba(255, 10, 0, 0.42);
}
.alert hr {
    display: none;
}
.alert ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.alert-notice {
    background: rgba(0, 85, 255, 0.42);
}




.course_detail h2, .project_detail h2, .thesis_detail h2 {
    padding: 0;
    margin: 0;
}
.course_detail p, .project_detail p, .thesis_detail p {
    padding: 0 0 20px 0;
    margin: 0;
}

.only_fav {
    padding-bottom: 10px;
}


.flexRowProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}

.flexRowProject h3 {
    margin: 0;
    padding: 0 0 1px 0;
}
.flexRowProject p {
    margin: 0;
    padding: 3px 0 3px 10px;
}

.flexColProjectL {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flexColProjectR {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.header_name {
    margin-bottom: 12px;
}



.ul_users {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    list-style-type: none;
}
.li_user {
    width: 280px;
    text-align: start;
    position: relative;
    margin-bottom: 10px;
}
.li_user a {
    color: #000;
    position: absolute;
    font-size: 1em;
}
.li_user a:hover {
    background: none;
    font-weight: bold;
    font-size: 1.2em;
}
.delete_user {
    bottom: 0;
}



.imgPerson {
    height: auto;
    max-width: 80%;
    padding: 0 0 10px 0;
}









    /* ##### MEDIA BREAKPOINTS ##### */

:root {
    --test: 52px;
}

/* default - big screen size */
@media screen and (min-width: 1024px) {
    li.sml, .sml {
        display: none;
    }

    li.med, .med {
        display: none;
    }

    li.big, .big {
        display: block;
    }

    #menuButton {
        display: none;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 35px;
    }

    .flexCol {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* medium screen size */
@media screen and (min-width: 444px) and (max-width: 1023px) {

    li.big, .big {
        display: none;
    }

    li.sml, .sml {
        display: none;
    }

    li.med, .med {
        display: block;
    }

    #menuButton {
        display: none;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 35px;
    }

    .flexCol {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.btnActive {
    background-color: cornflowerblue;
}

/* small screen size */
@media screen and (max-width: 443px) {

    li.big, .big {
        display: none;
    }

    li.med, .med {
        display: none;
    }

    li.sml, .sml {
        display: block;
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myLinks {
        display: none;
    }

    #logo {
        margin: 0;
    }

    #logoLiElement {
        width: 100%;
    }

    #logoContainer {
        display: flex;
        flex-direction: row;
    }

    #menuButton {
        display: block;
        margin-left: auto;
    }

    li.sml {
        width: 100%;
    }

    .toTheRight {
        display: none;
        flex-direction: column;
        background-color: #f9f9f9;
        align-items: center;
        width: 90%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: 5%;
    }

    .toTheRight a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        margin: 0 5% 0 5%;
    }

    .smlLoginContainer {
        display: flex;
        flex-direction: column;
        margin: 0 10px 10px 10px;
    }
    .field_with_errors {
        display: flex;
        flex-direction: column;
    }
    .field_with_errors .formTextField {
        -webkit-box-shadow: 0 0 5px 2px rgba(255,0,0,1);
        -moz-box-shadow: 0 0 5px 2px rgba(255,0,0,1);
        box-shadow: 0 0 5px 2px rgba(255,0,0,1);
    }

    .formTextField {
        font-size: 1.2em;
    }

    .smlLoginContainer label {
        font-size: 1.2em;
    }

    #loginMemberMeContainer {
        margin-top: 50px;
    }

    .mySubmit {
        font-size: 1.2em;
    }

    .smlSearchContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .fab {
        margin-left: 5px;
        width: 40px;
        height: 40px;
        border-style: solid;
        border-width: 1px;
        position: relative;
    }
    .buttonSearchIcon {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 3px;
        top: 3px;
    }
    .fab .fabIcon {
        width: 45px;
        height: 45px;
    }


    .cardPeopleSize, .cardCoursesSize, .cardProjectsSize, .cardThesesSize {
        width: 90%;
    }

    .alert {
        margin: 5px 5% 5px 5%;
    }
}