<header class="sticky">
  <ul class="sidenav">
    <li><%= content_tag :a, "BetterTiss", href: root_path, id: "logo" %></li>
    <!--li><%= content_tag :a, "Home", href: root_path, class: "button" %></li-->
    <li><%= content_tag :a, "Sign Up", href: "", class: "button" %></li>
    <li><%= content_tag :a, "Login", href: "", class: "button" %></li>
  </ul>
</header>