<nav class="drawer hidden-md hidden-md">
  <input id="navigation-toggle" type="checkbox">
  <label class="close" for="navigation-toggle"></label>
  <%= content_tag :a, "Home", href: root_path, class: "button" %>
  <%= content_tag :a, "Help", href: help_path, class: "button" %>
  <%= content_tag :a, "Login", href: "", class: "button" %>
</nav>